<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
      <handlers>
        <add name="iisnode" path="index.cjs" verb="*" modules="iisnode" />
        <remove name="WebDAV" /> 
      </handlers>
      <iisnode node_env="%node_env%" loggingEnabled="true" devErrorsEnabled="true" enableXFF="true" flushResponse="true" />
      <rewrite>
        <rules>
          <rule name="root">
            <match url="(.*)" />
            <action type="Rewrite" url="index.cjs" />
          </rule>
        </rules>
      </rewrite>
      <httpErrors existingResponse="PassThrough" />
      <httpProtocol>
    <!-- <customHeaders>
      <add name="Content-Security-Policy" value="default-src 'self';" />
    </customHeaders> -->
  </httpProtocol>
    </system.webServer>
  </location>
    <system.webServer>
        <security>
            <requestFiltering>
                <verbs>
                    <add verb="GET" allowed="true" />
                    <add verb="POST" allowed="true" />
                    <add verb="PATCH" allowed="true" />
                    <add verb="PUT" allowed="true" />
                    <add verb="DELETE" allowed="true" />
                </verbs>
                <requestLimits maxAllowedContentLength="500000000" />
            </requestFiltering>
        </security>
        <urlCompression doStaticCompression="false" />
    </system.webServer>
</configuration>